html, body {
  overflow-x: hidden !important;
}

body {
  line-height: 1.5em;
}

.MuiSvgIcon-fontSizeSmall {
  transform: translateY(2px);
}

pre {
  padding: 1em;
}

code {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", Courier, monospace !important;
}